{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey list' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.list'|trans }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.survey.title.list'|trans }}</h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.title.list'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-xs-12">
                <div class="action-bar">
                    {% if is_granted('ROLE_USER') %}
                    <a aria-label="{{ 'maturity.survey.action.new'|trans }}" href="{{ path('maturity_survey_start') }}" class="btn btn-default">
                        <i class="fa fa-plus"></i>
                        {{ 'maturity.survey.action.new'|trans }}
                    </a>
                    {% endif %}
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table role="presentation" id="table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                <select class="form-control" id="search_referentiel" style="width: 100%;">
                                    <option value="">Référentiel</option>
                                    {% for referentiel in referentiels %}
                                        <option value="{{ referentiel }}">{{ referentiel }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">
                                    <input class="form-control" type="text" id="search_collectivity" placeholder="Structure" style="width: 100%;">
                                </th>
                            {% endif %}
                            <th scope="col">
                                <input class="form-control" type='number' id="search_score" style="width: 100%;" placeholder="Score">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_created_at" placeholder="Date de création" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                            <th scope="col" style="min-width:130px;position:relative;">
                                <input class="daterangepicker form-control" type="text" id="search_updated_at" placeholder="Date de modification" style="max-width: 130px;left: inherit!important;top: 0;font-size: 14px;border-radius: 0;font-family: inherit;padding: 0 5px;z-index:10;">
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">{{ 'maturity.survey.list.referentiel'|trans }}</th>
                            {% if is_granted('ROLE_REFERENT') %}
                                <th scope="col">{{ 'maturity.survey.list.collectivity'|trans }}</th>
                            {% endif %}
                            <th scope="col">{{ 'maturity.survey.list.score'|trans }}</th>
                            <th scope="col">{{ 'maturity.survey.list.created_at'|trans }}</th>
                            <th scope="col">{{ 'maturity.survey.list.updated_at'|trans }}</th>
                            <th scope="col">{{ 'label.actions'|trans }}</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% if is_granted('ROLE_REFERENT') %}
    {% set dataTableOptions = {
        columns: [
            {"data": "referentiel", "className": "noVis"},
            {"data": "collectivity"},
            {"data": "score", "visible": true},
            {"data": "createdAt", "visible": false},
            {"data": "updatedAt", "visible": false},
            {"data": "actions", "className": "noVis", "orderable": false}
        ]
    } %}
    {% else %}
        {% set dataTableOptions = {
            columns: [
                {"data": "referentiel", "className": "noVis"},
                {"data": "score", "visible": true},
                {"data": "createdAt", "visible": false},
                {"data": "updatedAt", "visible": false},
                {"data": "actions", "className": "noVis", "orderable": false}
            ]
        } %}
    {% endif %}

    {{ include('_Utils/_serverside_datatable.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();
            var col = 0;
            {% if is_granted('ROLE_REFERENT') %}
                col = 1;
            {% endif %}

            $('#search_created_at').show('slide',function(){
                $('input#search_created_at').val('');
            });
            $('#search_updated_at').show('slide',function(){
                $('input#search_updated_at').val('');
            });

            {% if is_granted('ROLE_REFERENT') %}
                $('#search_collectivity').off('keyup');
                $('#search_collectivity').keyup($.debounce(250, function(){
                    oTable.column(1).search($(this).val()).draw() ;
                }));
            {% endif %}

            $('#search_referentiel').off('change');
            $('#search_referentiel').change(function(){
                oTable.column(0).search($(this).val()).draw();
            });

            $('#search_score').off('keyup');
            $('#search_score').keyup($.debounce(250, function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            }));

            $('#search_score').on('click', function(){
                oTable.column(col + 1).search($(this).val()).draw() ;
            });

            $('#search_created_at').off('change');
            $('#search_created_at').change(function(){
                console.log(oTable.column('2'));
                oTable.column(col + 2).search($(this).val()).draw();
            });

            $('#search_updated_at').off('change');
            $('#search_updated_at').change(function(){
                oTable.column(col + 3).search($(this).val()).draw();
            });
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );

        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
    </script>

{% endblock %}
