{% extends 'base.html.twig' %}

{% set bodyClass = 'maturity_survey form edit' %}
{% set menuItem = 'maturity_survey' %}

{% block title %}{{ 'maturity.survey.title.create'|trans }} - {{ parent() }}{% endblock %}

{% block body_head %}
    <h1>{{ 'maturity.survey.title.create'|trans }}
        <small>Choix du référentiel</small>
    </h1>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = [
        { 'name': 'maturity.survey.title.list'|trans, 'link': path('maturity_survey_list') },
        { 'name': 'maturity.survey.title.create'|trans }
    ] %}
    {% include '_breadcrumb.html.twig' with {'breadcrumb': breadcrumb} %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body" style="font-weight: bold">
                    Une fois le référentiel choisi, il n'est plus possible de revenir en arrière
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <table id="table" class="table table-bordered">
                            <thead>
                            <tr>
                                <th><input class="form-control" type="text" id="search_nom" style="width: 100%;" placeholder="Nom"></th>
                                <th><input class="form-control" type="text" id="search_description" style="width: 100%;" placeholder="Description"></th>
                            </tr>
                            <tr>
                                <th>Nom du référentiel</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body text-center">
                        <a href="{{ path('maturity_survey_list') }}" class="btn btn-default">{{ 'action.back_to_list'|trans }}</a>
                        <input id="create-survey-button" type="submit" class="btn btn-primary" value="{{  'maturity.survey.action.referentiel'|trans }}">
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/collectionManager') }}
    {{ include('Maturity/Survey/_form_js.html.twig') }}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.js"></script>

    {% set dataTableOptions = {
        columns: [
            {"data": "nom", "className": "noVis"},
            {"data" : "description", "className": "noVis"},
        ],
        order:  [
            [0, 'asc' ]
        ],
        buttons: [],
    } %}

    {{ include('_Utils/_serverside_datatable_base.html.twig') }}

    <script>
        function setEvents() {
            var oTable = $('#table').DataTable();

            $('#search_nom').off('keyup');
            $('#search_nom').keyup($.debounce(250, function () {
                oTable.column('0').search($(this).val()).draw();
            }));

            $('#search_description').off('keyup');
            $('#search_description').keyup($.debounce(250, function(){
                oTable.column('1').search($(this).val()).draw() ;
            }));
        }

        $(document).ready(function() {
            $('#table_filter').hide();
            setEvents();
        } );
        $('#table').on('column-visibility.dt', function() {
            setEvents();
        } );
        $('#table').on('init.dt', function(e, settings, json) {

            console.log('loaded', json)
            var cnt = json.data ? json.data.length : 0
            if (cnt > 0) {
                $('#create-survey-button').removeAttr('disabled')
            } else {
                $('#create-survey-button').attr('disabled', 'disabled')
            }
        } );
    </script>

{% endblock %}
